
body {  
background-image: url('onda bg.png');
background-repeat: no-repeat;
background-size: cover; 
text-align: center; 
color:#ffffff;
 }

@media only screen and (max-device-width: 500px) {
    body { 
	    background-image: url('wp.jpg'); }
	
	h1 {color: #ffffff; 
	font-size: 15px;
	padding:500px 0 0 0;
	
	    
   }
}


h1 {color: #ffffff; 
	font-family: "poppins"; 
	font-size: 50px;
	padding:250px 0 0 0;
	text-shadow: 2px 0 0 0; text-shadow color: #000000; 
	 margin: 0;}


h3 {color: #ffffff; 
	font-family: "poppins";
	font-size: 30px; 
	margin: 0;}

p {color: #ffffff; 
	font-family: "roboto condensed";
	font-size: 20px;
	margin-bottom: 30px;}

.shadow
{text-shadow: 1px 1px #000000}



.botao 
{background-color: rgba(255,255,255,0.5);
padding: 10px 15px 10px 15px;
font-family: poppins;
font-size: 20px;
font-variant: bold;
text-decoration: none;
color: #ffffff;
border: solid; 
border-color: #ffffff;
border-radius: 15px;}

.botao:hover
{background-color:#ffffff;
color:#000000;}

.botao a
{color:#ffffff;}


.icon_list 
{list-style: none;
padding-left: 0;
margin-top: 50px;}

.icon_list li
{display: inline;
padding-right: 10px;}

.icon_list a  
{color:#ffffff;
font-size: 30px;}



