
body { background-image: url("onda.jpg"); 
background-repeat: no-repeat;
background-size: cover; 
text-align: center; 
color:#ffffff;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}


h1 {color: #ffffff; 
	font-family: poppins; 
	font-size: 50px;
	padding:200px 0 0 0;
	text-shadow: 2px 0 0 0; text-shadow color: #000000; 
	 margin: 0;}


h3 {color: #ffffff; 
	font-family: poppins;
	font-size: 30px; 
	margin: 0;}

p {color: #ffffff; 
	font-family: roboto condensed;
	font-size: 20px;
	margin-bottom: 30px;}

@import url('https://fonts.googleapis.com/css?family=poppins:300,300i,400,400i,500,500i,600,600i,700,700i');

@import url('https://fonts.googleapis.com/css?family=roboto+condensed:400,400i,500,500i,600,700,800');

.shadow
{text-shadow: 1px 1px #000000}



.botao 
{background-color: rgba(255,255,255,0.5);
padding: 10px 15px 10px 15px;
font-family: poppins;
font-size: 20px;
font-variant: bold;
text-decoration: none;
color: #ffffff;
border: solid; 
border-color: #ffffff;
border-radius: 15px;}

.botao:hover
{background-color:#ffffff;
color:#000000;}

.botao a
{color:#ffffff;}


.icon_list 
{list-style: none;
padding-left: 0;
margin-top: 50px;}

.icon_list li
{display: inline;
padding-right: 10px;}

.icon_list a  
{color:#ffffff;
font-size: 30px;}



